.container {
  display: flex;
  min-height: 100vh;
}

.mainWrapper {
  flex: 1;
  margin-left: 260px; /* Width of the sidebar */
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  padding: 24px;
}
